.nice-dates-navigation {
  -webkit-box-align: center;
          align-items: center;
  color: #000;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  position: relative;
  text-align: center;
  text-transform: capitalize;
}
.nice-dates-navigation_current {
  -webkit-box-flex: 1;
          flex-grow: 1;
  font-size: 16px;
}
.nice-dates-navigation_previous, .nice-dates-navigation_next {
  cursor: pointer;
  height: 0;
  padding-bottom: calc(100% / 7);
  position: relative;
  width: calc(100% / 7);
}
.nice-dates-navigation_previous:before, .nice-dates-navigation_next:before {
  border-right: 2px solid #000;
  border-top: 2px solid #000;
  box-sizing: border-box;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  margin-top: -7px;
  position: absolute;
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: 200ms border-color;
  transition: 200ms border-color;
  width: 14px;
}
.nice-dates-navigation_previous:hover:before, .nice-dates-navigation_next:hover:before {
  border-color: #000;
}
.nice-dates-navigation_previous.-disabled, .nice-dates-navigation_next.-disabled {
  cursor: default;
  pointer-events: none;
}
.nice-dates-navigation_previous.-disabled:before, .nice-dates-navigation_next.-disabled:before {
  border-color: #ddd;
}
.nice-dates-navigation_previous:before {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}
.nice-dates-week-header {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  display: -webkit-box;
  display: flex;
  padding: 8px 0;
}
.nice-dates-week-header_day {
  color: #000;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-transform: capitalize;
  width: calc(100% / 7);
}
.nice-dates-grid {
  box-sizing: content-box;
  overflow: hidden;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.nice-dates-grid_container {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  left: 0;
  position: absolute;
  right: 0;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: none;
  transition-property: none;
  will-change: transform;
}
.nice-dates-grid_container.-moving .nice-dates-day_date {
  -webkit-transition: 300ms color;
  transition: 300ms color;
}
.nice-dates-grid_container.-origin-bottom {
  top: auto;
  bottom: 0;
}
.nice-dates-grid_container.-origin-top {
  top: 0;
  bottom: auto;
}
.nice-dates-grid_container.-transition {
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.nice-dates-day {
  border-top: 1px solid transparent;
  background-color: #fff;
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  font-size: 14px;
  position: relative;
  text-align: center;
  width: calc(100% / 7);
  -webkit-box-align: center;
          align-items: center;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;  
}
.nice-dates-day_date {
  -webkit-transition: 150ms color;
  transition: 150ms color;
  will-change: color;
  z-index: 3;
}
.nice-dates-day_month {
  color: #000;
  font-size: 12px;
  left: 0;
  line-height: 1;
  position: absolute;
  right: 0;
  text-transform: capitalize;
  top: 10%;
  z-index: 3;
}
.nice-dates-day:before, .nice-dates-day:after {
  border-radius: 999px;
  bottom: 0;
  box-sizing: border-box;
  content: "";
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.nice-dates-day:before {
  background-color: #4cb050;
  z-index: 1;
}
.nice-dates-day:after {
  border: 2px solid #000;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
  -webkit-transition-duration: 150ms;
          transition-duration: 150ms;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  z-index: 2;
}
.nice-dates-day:not(.-disabled):hover:after {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}
@media (hover: none) {
  .nice-dates-day:after {
    content: none;
  }
  .nice-dates-day.-selected * {
    color: #fff;
  }
}
.nice-dates-day.-selected:before {
  opacity: 1;
}
.nice-dates-day.-selected:hover:after {
  background-color: #fff;
}
.nice-dates-day.-selected:not(:hover) *, .nice-dates-day.-selected.-disabled * {
  color: #fff;
}
.nice-dates-day.-selected.-selected-start:before {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  right: 0;
}
.nice-dates-day.-selected.-selected-end:before {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  left: 0;
}
.nice-dates-day.-selected.-selected-middle:before {
  border-radius: 0;
  left: 0;
  right: 0;
}
.nice-dates-day.-selected.-selected-middle:nth-child(7n+1):before {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
}
.nice-dates-day.-selected.-selected-middle:not(.-end):nth-child(7n):before {
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}
.nice-dates-day.-today {
  font-weight: 600;
}
.nice-dates-day.-wide:before, .nice-dates-day.-wide:after {
  left: 12.5%;
  right: 12.5%;
}
.nice-dates-day.-outside {
  color: #000;
}
.nice-dates-day.-disabled {
  cursor: default;
  pointer-events: none;
  color: #333;
  background-color: #f3f2f1;
}
.nice-dates-popover {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.12);
  margin: 8px 0;
  max-width: 600px;
  position: absolute;
  -webkit-transform-origin: top;
          transform-origin: top;
  -webkit-transform: perspective(1000px);
          transform: perspective(1000px);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1.1);
          transition-timing-function: cubic-bezier(0.4, 0.2, 0, 1.1);
  width: 100%;
  will-change: transform, opacity;
  z-index: 9;
}
.nice-dates-popover:not(.-open) {
  opacity: 0;
  pointer-events: none;
  -webkit-transform: perspective(1000px) rotateX(-15deg);
          transform: perspective(1000px) rotateX(-15deg);
}
.popup {  
  position: fixed;  
  width: 100%;  
  height: 100%;  
  top: 0;  
  left: 0;  
  right: 0;  
  bottom: 0;  
  margin: auto;  
  background-color: rgba(0,0,0, 0.5);  
}  
.popup\_inner {  
  position: absolute;  
  left: 25%;  
  right: 25%;  
  top: 25%;  
  bottom: 25%;  
  margin: auto;  
  border-radius: 20px;  
  background: white;  
}
.simple-react-notifier {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9999;
  pointer-events: none;
  padding: 16px;
}

.simple-react-notifier > * {
  pointer-events: initial;
  animation-fill-mode: forwards;
}

.simple-react-notifier.top-left {
  left: 0;
  right: auto;
}

.simple-react-notifier.top-center {
  left: 50%;
  transform: translate(-50%, 0);
  right: auto;
}

.simple-react-notifier.bottom-left {
  top: auto;
  right: auto;
  left: 0;
  bottom: 0;
}

.simple-react-notifier.bottom-center {
  top: auto;
  left: 50%;
  transform: translate(-50%, 0);
  right: auto;
  bottom: 0;
}

.simple-react-notifier.bottom-right {
  top: auto;
  bottom: 0;
}

.simple-react-notifier .item {
  position: relative;
  min-height: 48px;
  margin-bottom: 16px;
  padding: 14px 6px;
  border-radius: 4px;
  box-shadow: 1px 3px 4px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: flex-start;
  cursor: default;
  font-size: 14px;
  line-height: 1.3;
  color: white;
}

.simple-react-notifier .item span {
  margin: 0 20px 0 10px;
}

.simple-react-notifier .item button {
  cursor: pointer;
  color: white;
  background: transparent;
  border: 0;
  position: relative;
  top: -5px;
}

.simple-react-notifier .item.success {
  background: #28a745;
  border-left: 8px solid #1e7532;
}

.simple-react-notifier .item.info {
  background: #077bf7;
  border-left: 8px solid #055fbe;
}

.simple-react-notifier .item.error {
  background: #e23849;
  border-left: 8px solid #ac1f2d;
}

.simple-react-notifier .item.warn {
  background: #ffd9bc;
  border-left: 8px solid #ffb366;
}

.simple-react-notifier .item.rtl {
  direction: rtl;
  border-left: 0;
}

.simple-react-notifier .item.rtl.success {
  border-right: 8px solid #1e7532;
}

.simple-react-notifier .item.rtl.info {
  border-right: 8px solid #055fbe;
}

.simple-react-notifier .item.rtl.error {
  border-right: 8px solid #ac1f2d;
}

.simple-react-notifier .item.rtl.warn {
  border-right: 8px solid #ffb366;
}